@font-face {
    font-family: 'Josefin Sans';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Slab';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/JosefinSlab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Montserrat.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Montserrat-Bold.woff2') format('woff2');
}

*, *::before, *::after {
    font-family: "Josefin Slab", serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, :root {
    --yellow: #fded50;
    --red: #CB4C6D;
    --green: #98D1A9;
    --blue: #748AD9;
}

html {
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 30px;
}

header > div {
    position: relative;
    z-index: 2;
}

header img {
    position: relative;
    z-index: 2;
    height: 60px;
}

header .red-block {
    position: absolute;
    background-color: var(--red);
    height: 60px;
    width: 60px;
    top: 8px;
    left: 8px;
    z-index: 1;
}
header .green-block {
    position: absolute;
    background-color: var(--green);
    height: 60px;
    width: 60px;
    top: 8px;
    left: 8px;
    z-index: 1;
}

header > h2 {
    margin-left: 20px;
    font-size: 22px !important;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

header > p {
    position: absolute;
    bottom: 0;
    right: 30px;
    color: rgb(124, 172, 140);
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.site {
    margin-left: 35px;
    width: calc(100% - 35px);
    padding: 15px;
}

.site > div {
    display: flex;
}

.site > div span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 90px;
    text-align: center;
}

.site > div p {
    font-size: 16px !important;
}

.site > div p:first-child {
    width: 82px;
}

.stats {
    display: flex;
    margin: 25px 35px 0;
    padding: 15px 5px;
    justify-content: space-between;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: calc(100% - 70px);
    position: relative;
}

.stat {
    width: 25%;
    position: relative;
}

.stat > div {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.stat img {
    height: 40px;
    position: relative;
    z-index: 2;
}

.stat h2, .stat p {
    font-size: 16px;
}

#settings {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--blue);
    font-size: 16px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > img {
    height: 80px;
}

#progress {
    position: relative;
    margin: 10px 35px;
    padding: 5px 0;
    text-align: center;
    border: 3px solid black;
}

#progress > p {
    position: relative;
    z-index: 2;
}

#progress > div {
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: var(--green);
    z-index: 1;
    top: 0;
}

#progress span {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.full {
    color: var(--red);
    border: 3px solid var(--red)!important;
}
.full p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
