header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 26px;
}

header p {
    font-size: 18px;
}

main {
    position: relative;
    width: 100%;
}

main h2 {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}

main > div {
    position: absolute;
    height: 60px;
    margin: 30px 0;
}

main > div:nth-child(1) {
    right: 0;
    left: 30px;
    width: calc(100% - 30px)
}

main > div:nth-child(2) {
    left: 120px;
    width: calc(100% - 120px);
}

main > div:nth-child(3) {
    right: 120px;
}

main > div:nth-child(4) {
    right: 30px;
}

.presentation-item {
    position: relative;
    display: flex;
    align-items: center;
}

.presentation-item img {
    position: absolute;
    top: -8px;
    height: 50px;
    width: 50px;
}

.presentation-right {
    flex-direction: row-reverse;
}

.presentation-left img {
    left: -8px;
}

.presentation-left h2 {
    margin-left: 50px;
}

.presentation-right img {
    right: -8px;
}

.presentation-right h2 {
    margin-right: 50px;
    text-align: right;
}

.yellow-gradient {
    background: linear-gradient(to right, #fded50 0%, #ffffff 100%);
}

.red-gradient {
    background: linear-gradient(to right, #CB4C6D 0%, #ffffff 100%);
}

.blue-gradient {
    background: linear-gradient(to right, #ffffff 0%, #748AD9 100%);
}

.green-gradient {
    background: linear-gradient(to right, #ffffff 0%, #98D1A9 100%);
}
