body {
  background-color: #7089E0;
  font-size: 1.2em;
}

header {
  font-size: .8em;
  text-align: left;
}

.left, .right {
  margin-top: 45px;
}

.left {
  float: left;
  width: 30%;
  padding: 10px;
  position: relative;
}

.left .range-container {
  position: absolute;
  left: 50%;
  width: 250%;

  text-align: left;

  transform: rotate(-90deg) translate(-100%, -50%);
  transform-origin: top left;
}

.left .range-container p:first-child {
  position: absolute;
  top: 15px;
  left: 4px;

  font-weight: bold;

  transform: rotate(90deg);
  transform-origin: left;
}

.left .range-container p:last-child {
  position: absolute;
  right: 5px;
  top: 36px;

  text-align: right;
  font-weight: bold;

  transform: rotate(90deg);
  transform-origin: right;
}

#range {
  width: 100%;
}

.right {
  float: right;
  width: 70%;
  padding: 0 10px;

  text-align: right;
}

.right > p {
  margin: 30px 0;
  color: #fff;
  font-size: 0.8em;
}

.right > div {
  margin-bottom: 30px;
}

.right .me, .right .them {
  line-height: 1.4em;
}

.right .ads-per-day, .right .year {
  font-weight: bold;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}
input[type=range]::-webkit-slider-thumb {
  height: 22px;
  width: 22px;
  border-radius: 26px;
  background: #ff0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.5);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}
input[type=range]::-moz-range-thumb {
  height: 22px;
  width: 22px;
  border-radius: 26px;
  background: #ff0000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(227, 227, 227, 0.5);
}
input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.5);
}
input[type=range]::-ms-thumb {
  width: 22px;
  border-radius: 26px;
  background: #ff0000;
  cursor: pointer;
  height: 22px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.5);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.5);
}
