body {
  background-color: #FBF885;
}

.body {
  padding: 20px;
}

ul {
  list-style: none;
}

li {
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

label {
  display: block;
  position: relative;
  padding: 6px 30px;

  cursor: pointer;
}

label:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

label::before {
  content: '';
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  width: 18px;

  border: 2px solid #fff;
  border-radius: 50%;

  background-color: #FF0000;

  transition: background-color .2s;
}

input[type="checkbox"]:checked + label {
  /*background-color: #00bb00;*/
}

input[type="checkbox"]:checked + label::before {
  background-color: #00bb00;
}