body {
  background-color: #7089E0;
  font-size: 1.2em;
}

header {
  font-size: .8em;
  text-align: left;
}

.left {
  float: left;
  width: 30%;
  padding: 10px;
  position: relative;
}

.left .range-container {
  position: absolute;
  left: 50%;
  width: 250%;

  text-align: left;

  transform: rotate(-90deg) translate(-100%, -50%);
  transform-origin: top left;
}

.left .range-container p:first-child {
  position: absolute;
  top: 15px;
  left: 4px;

  font-weight: bold;

  transform: rotate(90deg);
  transform-origin: left;
}

.left .range-container p:last-child {
  position: absolute;
  right: 5px;
  top: 36px;

  text-align: right;
  font-weight: bold;

  transform: rotate(90deg);
  transform-origin: right;
}

#range {
  width: 100%;
}

/*.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background: #ff5500;
  outline: none;
  padding: 0;
  margin: 0;
}

// Range Handle
  &::-webkit-slider-thumb {
     appearance: none;
     width: $range-handle-size;
     height: $range-handle-size;
     border-radius: 50%;
     background: $range-handle-color;
     cursor: pointer;
     transition: background .15s ease-in-out;

&:hover {
   background: $range-handle-color-hover;
 }
}

&:active::-webkit-slider-thumb {
   background: $range-handle-color-hover;
 }

&::-moz-range-thumb {
   width: $range-handle-size;
   height: $range-handle-size;
   border: 0;
   border-radius: 50%;
   background: $range-handle-color;
   cursor: pointer;
   transition: background .15s ease-in-out;

&:hover {
   background: $range-handle-color-hover;
 }
}

&:active::-moz-range-thumb {
   background: $range-handle-color-hover;
 }

// Focus state
  &:focus {

&::-webkit-slider-thumb {
   box-shadow: 0 0 0 3px $shade-0,
   0 0 0 6px $teal;
 }
}
}*/

.right {
  float: right;
  width: 70%;
  padding: 0 10px;

  text-align: right;
}

.right > p {
  margin: 30px 0;
  color: #fff;
}

.right > div {
  margin-bottom: 30px;
}