header {
  padding-top: 5px;
  margin-bottom: 30px;
}

header p.strong {
  font-weight: bold;
}

.bloc {
  display: flex;
  align-items: center;

  position: relative;
  width: 75%;
  height: 90px;
  max-height: 90px;

  margin-bottom: 30px;
}

.bloc div {
  padding: 5px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.ads {
  background-color: #FBF885;
  margin-left: 25%;

  text-align: right;
}

.accepted {
  background-color: #7089E0;
}

.free-internet {
  background-color: #DD493E;
  margin-left: 25%;

  text-align: right;
}

.finish {
  display: inline-block;
  width: 35px;
  height: 35px;

  position: absolute;
  left: 50%;
  bottom: 5px;

  cursor: pointer;

  transform: translateX(-50%);
  transition: all .3s;
}

.finish:hover {
  transform: translateX(-50%) scale(1.25);
}

.finish::before, .finish::after {
  content: '';
  display: block;
  width: 28px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;

  border-radius: 10px;
  background-color: #000;
}

.finish::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}